.designer-picks {
  color: var(--white-colour);
  background-color: var(--dark-colour);
  border: 4px solid var(--dark-colour);
}

.designer-links {
  color: var(--white-colour);
}

a {
  text-decoration: none;
  font-family: var(--font-primary);
}
