header {
  background-color: var(--dark-colour);
  border-bottom: var(--highlight-secondary-colour) solid 3px;
}

footer {
  background-color: var(--dark-colour);
  border-top: var(--highlight-secondary-colour) solid 3px;
}

header .nav-items ul li a {
  color: var(--white-colour);
  text-decoration: none;
  font-family: var(--font-primary);
}

.nav-items {
  text-align: center;
}

.nav-logo {
  text-align: center;
}

/*|TO CHANGE TO :ACTIVE|*/
header .nav-items ul li a {
  border-bottom: var(--highlight-secondary-colour) solid 5px;
}

@media only screen and (min-width: 60em) {

  .nav-items {
    text-align: right;
  }
  .nav-logo {
    text-align: left;
  }

}
