:root {
  --color-primary: #6f156c;
  --color-secondary: #f8d485;
  --color-tertiary: #fd678a;
  --color-accent-dark: #010029;
  --color-highlight: #ffe9b3;
  --color-highlight-secondary: #ff329c;
  --color-white: #fff;

  --font-primary: "Proxima nova", Verdana, sans-serif;
  --font-secondary: cortado, sans-serif;
}

.main-gradient-background {
  background: linear-gradient(to bottom, rgba(253, 103, 138, 1) 10%, rgba(111, 21, 108, 1) 36%, rgba(62, 12, 78, 1) 54%);
}

body {
  color: var(--color-white);
  min-height: 100vh;
}

h1,
.secondary-font {
  font-family: var(--font-secondary);
  text-shadow: 2px 2px 1px var(--color-highlight-secondary);
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-primary);
}

.highlight-text {
  color: var(--color-highlight);
  text-transform: uppercase;
}

.secondary-font {
  text-transform: uppercase;
  text-shadow: 4px 2px 1px var(--color-highlight-secondary);
}

.stripes {
  background: repeating-linear-gradient(to bottom, rgba(104, 25, 130, 0.6), rgba(104, 25, 130, 0.6) 5px, rgba(104, 25, 130, 0.2) 5px, rgba(104, 25, 130, 0.2) 10px);
}

.bg-image {
  background-image: url("/images/palm-trees-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-page {
  padding-top: 3em;
}

.video-embed {
  min-height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.color-primary {
  color: var(--color-primary);
}

.color-accent-dark {
  color: var(--color-accent-dark);
}

.color-tertiary {
  color: var(--color-tertiary);
}

.font-primary {
  font-family: var(--font-primary);
}

.color-white {
  color: var(--color-white);
}

.filter {
  filter: hue-rotate(193deg) invert(100%) saturate(10);
}

.neon-pink {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 40px var(--color-tertiary);
  border-bottom: 2px solid var(--color-tertiary);
  width: 10%;
}

.neon-yellow {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 40px var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
  width: 10%;
}

.neon-yellow-designers {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 40px var(--color-secondary);
  /* border-bottom: 2px solid var(--color-secondary);
  width: 50%; */
}

.neon-pink-home {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 40px var(--color-tertiary),
    0 0 80px var(--color-tertiary),
    0 0 80px var(--color-tertiary);
}

::selection {
  color: var(--color-accent-dark);
  background: var(--color-highlight-secondary);
}

.icon svg {
  fill: var(--color-accent-dark);
}

.icon svg:hover {
  fill: var(--color-white);
}

.icon-color svg {
  fill: var(--color-white);
}

.icon-color svg:hover {
  fill: var(--color-tertiary);
}

.def-center {
  padding: 5rem 4rem 3rem;
}

a:focus {
    border: 3px solid var(--color-secondary);
    outline: none;
}

a:active {
    border-color: var(--color-secondary);
    outline: none;
}

nav:focus {
    border: 3px solid var(--color-secondary);
    outline: none;
}

nav:active {
    border-color: var(--color-secondary);
    outline: none;
}


@media only screen and (min-width: 62em) {
  .def-center {
    max-width: 42em;
  }
}
