.btn {
  background-color: var(--color-tertiary);
  border: 2px solid var(--color-tertiary);
}

.btn:hover {
  background-color: var(--color-accent-dark);
  border: 2px solid var(--color-accent-dark);
  color: var(--color-tertiary);
}
