.btn {
  background-color: var(--color-tertiary);
  border: 2px solid var(--color-tertiary);
  border-radius: 0;
}

.btn:hover {
  background-color: var(--color-accent-dark);
  color: var(--color-tertiary);
  transition: .25s;
}
