#designer-list .unit {
  display: flex;
}

.selector {
  transition: color .25s;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
}

.selector:hover,
.selector:focus,
.selector:active {
  transition: color .25s;
  color: #ffffff;
  border: 2px solid var(--color-accent-dark);
  background-color: var(--color-accent-dark);
  text-decoration: none;
  transition: .25s;
}

.selected {
  transition: color .25s;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
}

.designer-card {
  filter: blur(2px);
  /* transform: skew(2deg, 2deg) rotate(-3deg); */
  transition:
    filter .25s,
    transform .25s;
  pointer-events: none;
  /* Katie write here: unselected category's css goes here */
}

.placeholder-statue {
  filter: blur(0px);
  pointer-events: none;
}

.product-sort .designer-card img {
  filter: contrast(1000%) hue-rotate(269deg) saturate(69) grayscale(.5);
}

.product-sort .designer-card .statue-img {
  filter: contrast(100%) hue-rotate(0deg) saturate(100%) grayscale(0);
}

.designer-card .nametag {
  color: var(--color-accent-dark);
}

.disabled {
  pointer-events: none;
}

.all .branding,
.all .illustration,
.all .uxui,
.all .webdesign,
.all .motiongraphics,
.all .photography,
.all .print,
.branding .branding,
.illustration .illustration,
.uxui .uxui,
.webdesign .webdesign,
.motiongraphics .motiongraphics,
.photography .photography,
.print .print {
  filter: blur(0);
  transform: skew(0) rotate(0);
  pointer-events: auto;
  /* selected styling goes here */
}

.all .branding img,
.all .illustration img,
.all .uxui img,
.all .webdesign img,
.all .motiongraphics img,
.all .photography img,
.all .print img,
.branding .branding img,
.illustration .illustration img,
.uxui .uxui img,
.webdesign .webdesign img,
.motiongraphics .motiongraphics img,
.photography .photography img,
.print .print img {
  filter: contrast(1);
}

.all .branding p,
.all .illustration p,
.all .uxui p,
.all .webdesign p,
.all .motiongraphics p,
.all .photography p,
.all .print p,
.branding .branding p,
.illustration .illustration p,
.uxui .uxui p,
.webdesign .webdesign p,
.motiongraphics .motiongraphics p,
.photography .photography p,
.print .print p {
  color: var(--color-tertiary);
}

.products select,
.products label {
  margin-bottom: .65rem;
}

@media only screen and (min-width: 38em) {

  .products h2 {
    margin: 0;
  }

  .product-search-sort {
    text-align: right;
  }

  .product-search-sort .unit:last-child {
    padding-left: 1.4rem;
  }

  .products select,
  .products label {
    margin-bottom: 0;
  }

}

@media only screen and (min-width: 60em) {

  .product-search-sort .unit:last-child {
    padding-left: 1.5rem;
  }

}
