.designer-picks {
  color: var(--color-white);
  border: 3px solid var(--color-white);
}


.designer-links {
  color: var(--white-colour);
}

a {
  text-decoration: none;
  font-family: var(--font-primary);
}

.designer-links:hover {
  color: var(--color-accent-dark);
}
