<div class="island">

  <h2 class="push yotta neon-yellow-designers">{{page.name}}</h2>
  <ul itempscope itemtype="http://schema.org/ItemListOrderType" class="list-group-inline push-0">
    {% if page.specialty[0] %}
      <li class="list-group-item text-center"><p class="pad-b-1-4 push-none pad-t-1-4 nano color-accent-dark"> {{page.specialty[0] | replace: 'motiongraphics', 'motion graphics' | replace: 'webdesign', 'web design' | replace: 'uxui', 'ux/ui' | upcase | default: 'Branding'}} | </p></li>
    {% endif %}
    {% if page.specialty[1] %}
      <li class="list-group-item text-center"><p class="pad-b-1-4 push-none pad-t-1-4 nano color-accent-dark">{{page.specialty[1] | replace: 'motiongraphics', 'motion graphics' | replace: 'webdesign', 'web design' | replace: 'uxui', 'ux/ui' | upcase | default: 'Illustration'}} |</p></li>
    {% endif %}
    {% if page.specialty[2] %}
      <li class="list-group-item text-center"><p class="pad-b-1-4 push-none pad-t-1-4 nano color-accent-dark">{{page.specialty[2] | replace: 'motiongraphics', 'motion graphics' | replace: 'webdesign', 'web design' | replace: 'uxui', 'ux/ui' | upcase | default: 'Motion Graphics'}} </p></li>
    {% endif %}
  </ul>

  <p class="push mega">{{page.bio}}</p>
  <div class="grid grid-middle push-1-2">
    <div class="unit xs-1 s-1 m-1 l-1">
      <a aria-label="Website link" class="designer-links milli" href="{{page.website}}">
        <i class="icon i-32"><svg><use xlink:href="/images/icons.svg#www-icon"></use></svg></i> {{page.website}}
      </a>
    </div>

    <div class="unit xs-1 s-1 m-1 l-1">
      <a aria-label="Email" class="designer-links milli" href="mailto:{{page.email}}">
        <i class="icon i-32"><svg><use xlink:href="/images/icons.svg#email-icon"></use></svg></i> {{page.email}}
      </a>
    </div>
  </div>

  <div class="pad-b-1-2">
    <ul class="list-group-inline push-0 grid grid-middle">
      {% if page.behance-link %}
        <li class="unit xs-1 s-1 m-1-4 l-1-4">
          <a aria-label="Link to Behance" href="{{page.behance-link}}">
            <i class="icon i-32"><svg><use xlink:href="/images/icons.svg#behance-logo"></use></svg></i>
          </a>
        </li>
      {% endif %}
      {% if page.vimeo-link %}
        <li class="unit xs-1 s-1 m-1-4 l-1-4">
          <a aria-label="Link to Vimeo" href="{{page.vimeo-link}}">
            <i class="icon i-32"><svg><use xlink:href="/images/icons.svg#vimeo-logo"></use></svg></i>
          </a>
        </li>
        {% endif %}
      {% if page.instagram-link %}
        <li class="unit xs-1 s-1 m-1-4 l-1-4">
          <a aria-label="Link to Instagram" href="{{page.instagram-link}}">
            <i class="icon i-32"><svg><use xlink:href="/images/icons.svg#instagram-logo"></use></svg></i>
          </a>
        </li>
      {% endif %}
      {% if page.linkedin-link %}
        <li class="unit xs-1 s-1 m-1-4 l-1-4">
          <a aria-label="Link to Linkedin" href="{{page.linkedin-link}}">
            <i class="icon i-32"><svg><use xlink:href="/images/icons.svg#linkedin-logo"></use></svg></i>
          </a>
        </li>
      {% endif %}
      {% if page.github-link %}
        <li class="unit xs-1 s-1 m-1-4 l-1-4">
          <a aria-label="Link to Github" href="{{page.github-link}}">
            <i class="icon i-32"><svg><use xlink:href="/images/icons.svg#github-logo"></use></svg></i>
          </a>
        </li>
      {% endif %}
      {% if page.dribbble-link %}
        <li class="unit xs-1 s-1 m-1-4 l-1-4">
          <a aria-label="Link to Dribbble" href="{{page.dribbble-link}}">
            <i class="icon i-32"><svg><use xlink:href="/images/icons.svg#dribbble-logo"></use></svg></i>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

</div>
