header {
  background-color: transparent;
}

footer {
  background-color: var(--color-accent-dark);
}

header .nav-items ul li a {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-primary);
}

.nav-items {
  text-align: center;
}

.nav-logo {
  text-align: center;
}

footer .icon img, .icon svg {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

footer .icon img, .icon svg {
  fill: #25ADCD!important;
}

footer .icon img, .icon svg:hover{
  fill: var(--color-white)!important;
}

.nav-items{
  text-align: center;
}

/*|TO CHANGE TO :ACTIVE|*/
header .nav-items ul li a:active,
header .nav-items ul li a:hover,
.current {
  /* background-image: linear-gradient(var(--color-primary),var(--color-accent-dark)); */
  color: var(--color-accent-dark);
  border-bottom: 3px solid var(--color-accent-dark);
}

@media only screen and (min-width: 60em) {

  .nav-logo {
    text-align: left;
  }

  .nav-items {
    text-align: right;
  }

}

@media only screen and (max-width: 60em) {

  .nav-logo {
    margin-bottom: 1em;
  }

}
