header {
  background-color: var(--color-tertiary);
}

.logo {
  width: 200px;
}

footer {
  background-color: var(--color-accent-dark);
}

header .nav-items ul li a {
  color: var(--color-accent-dark);
  text-decoration: none;
  font-family: var(--font-primary);
}

.nav-items {
  text-align: center;
}

.nav-logo {
  text-align: center;
}

footer .icon img, .icon svg {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.nav-items{
  text-align: center;
}

/*|TO CHANGE TO :ACTIVE|*/
header .nav-items ul li a:active,
header .nav-items ul li a:hover {
  color: var(--color-white);
  border-bottom: 2px solid var(--color-white);
  transition: .25s;
}

@media only screen and (min-width: 60em) {

  .nav-logo {
    text-align: left;
  }

  .nav-items {
    text-align: right;
  }

}
