.designer-card {
  position: relative;
}

.nametag {
  font-family: var(--font-primary);
  width: 100%;
  background-color: var(--color-accent-dark);
  color: var(--color-tertiary);
  /* transform: translate(-50%, 25%); */
}

.embed-5by4, .embed--5by4 {
  padding-top: 80%;
}

.designer-triangle {
  transform: rotate(0deg);
}

.designer-card:hover .designer-triangle {
  transform: rotate(-15deg);
}

.triangle-no-hover {
  z-index: 0;
  top: 1.69em;
}

.designer-portrait {
  position: absolute;
  bottom: 20em;
  border-bottom: 10px solid var(--color-tertiary);
}

.designer-card-without-name {
  position: relative;
  top: 2em;
}


.border-bottom {
  position: absolute;
  bottom: 0em;
  left: 0;
  border-bottom: 6px solid var(--color-secondary);
  border-right: 6px solid var(--color-secondary);
  width: 99%;
}
