<a itemprop="url" aria-label="{{designer.name}} page" href="{{site.baseurl}}/designers/{{designer.last-name | default:'mittins'}}-{{designer.first-name | default:'frank'}}" class="block relative island-1-2 designer-card{% for categories in designer.specialty %} {{categories}}{% endfor %} {% if designer.name contains 'Figure' %}placeholder-statue{% endif %}">
  <div class="embed embed-1by1">
    <img itemprop="image" class="img-flex embed-item designer-triangle" src="/images/triangle{{designer.triangle | default:'01'}}.svg" alt="Image of a triangle">
    <div class="embed embed-1by1 pin-c">
      <img itemprop="image" class="img-flex embed-item {% if designer.name contains 'Figure' %}statue-img{% endif %}" src="https://grads.images.algonquindesign.ca/2019/portraits-designers/{{designer.last-name | default:'statue'}}-{{designer.first-name | default:'1'}}.png" alt="Portrait of {{designer.name | default:'Image of John Doe'}}">
    </div>
  </div>
  <div class="pin-cb w-1">
    <p class="pin-bc text-center text-upper nametag milli push-0 pad-t-1-4 pad-b-1-4">
      {{designer.name | default:'Jane Doe'}}
    </p>
  </div>
</a>
