<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>

  <!-- Header -->
  {% if page.url contains "index" or page.url contains "thank-you" or page.url == "/" %}
    {% pattern header-footer/header %}
  {% else %}
    {% pattern header-footer/designers-header %}
  {% endif %}
  <main class="main-gradient-background">
    {{content}}
  </main>
  <!-- Footer -->
  {% pattern header-footer/footer %}

</body>
</html>
