---
layout: designers-layout
---

{% pattern sections/designer-bio %}

<div class="grid wrapper pad-b">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2">
    <div class="embed embed-1by1">
      <img itemprop="image" class="embed-item img-flex" src="https://grads.images.algonquindesign.ca/2019/portfolios/{{page.last-name}}-{{page.first-name}}/{{page.image[0]}}" alt="Gallery image">
    </div>
  </div>
  <div class="unit xs-1 s-1 m-1-2 l-1-2 island-1-2">
    <div class="embed embed-1by1">
      <img itemprop="image" class="embed-item img-flex" src="https://grads.images.algonquindesign.ca/2019/portfolios/{{page.last-name}}-{{page.first-name}}/{{page.image[1]}}" alt="Gallery image">
    </div>
  </div>
  <div class="unit xs-1 s-1 m-1 l-1 island-1-2">
    <div class="embed embed-16by9">
      <img itemprop="image" class="embed-item img-flex" src="https://grads.images.algonquindesign.ca/2019/portfolios/{{page.last-name}}-{{page.first-name}}/{{page.image[2]}}" alt="Gallery image">
    </div>
  </div>
</div>
