<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>

  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a href="#navigation">Jump to navigation</a></li>
  </ul>
  <!-- Header -->
  {% pattern header-footer/designers-header %}
  <!-- Main -->
  <main role="main" id="main" class="main-gradient-background pad-t-2" tabindex="0">
    {{content}}
  </main>
  <!-- Footer -->
  {% pattern header-footer/footer %}
  <script src="/js/main.js"></script>
</body>
</html>
